[2013-12-20 22:03] ponythewhite opened #1 "Another use of the scheduler"
Hello,

In my projects I am currently using [akka-quartz](https://github.com/theatrus/akka-quartz).

I would love to have all the benefits you are describing (especially the singleton-ity).

But I need to dynamically add jobs with custom schedules.

E.g. a message like this:

[code]

IMHO a quite basic use case is that some messages received by the system contain the definition of the cron schedul

[2014-02-20 06:20] vatel opened #2 "incorrect artifact name in repo"
from readme:
libraryDependencies += "com.typesafe.akka" %% "akka-quartz-scheduler" % "1.2.0-akka-2.2.x"

in fact:
libraryDependencies += "com.typesafe.akka" %% "akka-quartz-scheduler_2.10" % "1.2.0-akka-2.2.x"

at least for Gradle build tool

[2014-03-31 09:18] jilen opened #4 "Support `stateful` schedule ?"
*Quartz* have  [StatefulJob](http://www.quartz-scheduler.org/api/2.0.0/org/quartz/StatefulJob.html).  And this is useful.

[2014-06-04 16:04] pierre-borckmans opened #6 "Allow dynamic creation of schedules"
If i'm not mistaken, for the moment, the only way to create schedules is to define them in a typesafe config file (`application.conf` or other).

In the scenario where a end-user would be able to create scheduled tasks from a UI, how could that be achieved?
Is it possible to do as such, or do we need to add a method to add schedules in `QuartzSchedules.scala`?

[2014-09-18 12:50] patriknw opened #8 "Looking for a new maintainer"
This project is looking for a new maintainer! Please notify us in this issue if you would like to take over this project. It will be deleted in a few months unless we find a new owner.

[2014-09-25 13:21] #8 closed, assigned to nobody

[2014-09-30 13:54] jakob85 opened #9 "Great library!"
Thank you for this great library!

[2014-10-17 16:16] #9 closed, assigned to nobody

[2014-12-14 03:20] #2 closed, assigned to nobody

[2014-12-14 03:21] #6 closed, assigned to nobody

[2015-01-07 06:23] yvsubhash opened #12 "Need scheduler version of 1.2.0-akka-2.2.x"
Hi,
Our product is using the play framework and akka with version 2.2.2. I would like to try this scheduler with our product. We are not planning to upgrade our akka version any time soon. Can you please publish 1.2.0-akka-2.2.x version of the scheduler.

[2015-01-21 16:43] cdittberner commented on #1
+1

[2015-02-10 17:22] froque opened #13 "Use actorSelection instead of actorFor"
It seems ActorRef is deprecated. Could this project change to ActorSelection?

http://doc.akka.io/docs/akka/2.2-M3/project/migration-guide-2.1.x-2.2.x.html#migration-2-2-actorselection

[2015-02-10 17:29] ktoso commented on #13
Typo? `ActorRef` is fine, `actorFor` is deprecated :-)

[2015-02-10 18:09] froque commented on #13
Maybe I'm mixing different concepts, but my problem is that if the actor dies the scheduler cannot get a new reference, because it's using ActorRef and not ActorSelection so it cannot send a message to the new actor.

[2015-02-10 18:17] ktoso commented on #13
Yes, that is correct.
I wouldn't say ActorRefs are "deprecated" - they're perfectly fine, just that they have a slightly different role "the exact actor", whereas actor selection is "send to anyone who's living under this address currently". In the context of this project selection probably indeed makes more sense :-)

Hope this helps clear up any confusion I might have caused! :-)

[2015-03-05 20:30] pollycchang opened #14 "akka-quartz-scheduler for Akka 2.3 and Scala 2.10"
We have an existing project that is using Scala 2.10, and I would like to use Akka 2.3 and also akka-quartz-scheduler. I see that akka-quartz-scheduler for Akka 2.3 is only compiled for Scala 2.11. Since Akka 2.3 also supports Scala 2.10, can you please publish a version for Scala 2.10? Thanks!

[2015-04-11 21:23] FrEaKmAn opened #15 "Ignoring the first message"
Hi

I'm using to schedule daily cron jobs (run at midnight), but I want to somehow ignore the first message (when apps starts). Is there a way to add this?

[2015-05-14 07:15] WeiZheng opened #16 "The scheduler never triggers actors if any calendar is associated"
Hi Stephen Hopper,

The scheduler is really very useful, especially for applications which have large amount of actor tasks to schedule in the background.

However, do you notice a post on stackoverflow: http://stackoverflow.com/questions/19727325/akka-quartz-scheduler-never-triggers-my-actor? I also encounter this problem and after checking the source code, still have no clue on how to fix it.

R

[2015-06-23 17:01] pgorin commented on #16
Hi Wei, the problem occurs during calendars initialization.
Check line 245 in QuartzSchedulerExtension class:
scheduler.addCalendar(name.toUpperCase, calendar, true, true)

The calendar is added using UpperCase, so Quartz never finds it, producing that no job is triggered then.
If you define your calendar in akka config using UpperCase name it should work.

[2015-07-11 11:01] mingchuno opened #17 "Is this project dead?"
Hi, I am currently using this tools in my own project. Is the maintainer still here? If not, can I help with maintain the project? I saw a PR has not yet been merge for 7 months and I myself have some code to push...

[2015-07-11 11:17] mingchuno commented on #17
I have already did some commits in my fork...
https://github.com/mingchuno/akka-quartz-scheduler/commits/master

[2015-07-18 14:03] enragedginger commented on #17
Hi mingchuno,

I would not say that the project is dead.  I unfortunately have several other side projects that keep me busy, so I'm not able to devote too much time to this project.  I did, however, review the commits you made.  If you submit a pull request, I will merge them in.

[2015-07-18 14:03] #17 closed

[2015-07-18 16:25] mingchuno commented on #17
oh, that's nice. Thank you very much

[2015-07-18 17:51] enragedginger commented on #15
I'm not entirely sure I understand what you're referencing.  Do you have a code snippet that you can share to illustrate your issue?

My apologies for the belated response.

[2015-07-18 18:00] enragedginger commented on #16
I don't think casing is the issue.  The schedule method on QuartzSchedulerExtension performs the lookup based on the uppercased value of the schedule name.  If the schedule was not found when calling "schedule," an IllegalArgumentException would be thrown.

Wei,
Can you post the output from Quartz that you're seeing in your logs?

[2015-07-18 18:02] enragedginger commented on #13
Switching to ActorSelection makes sense in my mind.  If you create a pull request complete with tests, I'll consider it for merging.

[2015-07-18 18:02] enragedginger commented on #4
Can you elaborate on what you're asking for?

[2015-07-18 18:05] enragedginger commented on #1
Thanks for the suggestion.  This topic was created long before I inherited the project.  Is this still a feature that you would like to see us add?  You can call createSchedule on QuartzSchedulerExtension to add your own schedules at runtime if I'm not mistaken.

[2015-07-19 02:22] enragedginger commented on #14
Sorry it took me awhile to get around to this, but I've just published a build for Scala 2.10 and Akka 2.3 to Maven Central.

[2015-07-19 02:22] #14 closed

[2015-07-19 05:06] #4 closed

[2015-07-19 08:40] enragedginger commented on #17
Thank you for your contributions!  I've pushed a new build (version 1.4.0) that includes your changes.  I incremented the minor version number because there was a breaking API change that I had to make (unrelated to your changes).  Previously, the library supposedly supported multiple "calendars" per schedule.  However, this feature never worked properly, as best as I can tell, because Quartz only

[2015-07-19 08:43] enragedginger commented on #1
I'm going to close this issue. It looks like this functionality has existed since [this pull request / issue](https://github.com/enragedginger/akka-quartz-scheduler/issues/6) was resolved.

[2015-07-19 08:43] #1 closed

[2015-07-20 21:40] pollycchang commented on #14
Thanks so much!!

[2015-07-24 03:20] enragedginger commented on #12
Hi yvsubhash,

Is this request still valid? Would you still like a build for Akka 2.2?

[2015-07-24 05:36] WeiZheng commented on #16
Hi Stephen Hopper,

I've tested the version 1.4.0-akka-2.3.x on the latest play framework 2.4.2 and everything works fine.

I am not sure if the original problem is due to my carelessness on cron expression or whatever, please close that issue. :)

Regards,
Wei Zheng

[2015-07-25 00:48] enragedginger commented on #16
Thanks for the update! Let me know if you run into anymore issues!

[2015-07-25 00:48] #16 closed

[2015-07-31 23:12] pollycchang commented on #14
btw, the README says to reference this artifact as:
// For Akka 2.3.x and Scala 2.10.4
libraryDependencies += "com.typesafe.akka" % "akka-quartz-scheduler_2.10" % "1.4.0-akka-2.3.x"

However, this did not resolve for me. I had to change the groupid to "com.enragedginger". Then the artifact resolved. Thanks again!

[2015-08-06 23:09] enragedginger commented on #12
I'm going to mark this as closed. Let me know if you still need this build.

[2015-08-06 23:09] #12 closed

[2015-08-29 09:52] tl3shi opened #20 "delete a job which is not running"
I am wondering if there is any way to delete a job which is not running~
After review the code, I found that I can access it by using
```QuartzSchedulerExtension. schedules -= (key) ```
However, the key is not what I have created by
```QuartzSchedulerExtension.createSchedule(key, description....)```
I have to uppercased the key. (As well as some other operations related to the key, as follows)

[c

[2015-09-04 17:32] livingsoft opened #21 "It's not possible to restart scheduler from standby mode by using the start method"
It seems like when you call, standby, the scheduler is in standby mode, however, the isStarted flag is still true. As such, since the start method only looks at isStarted flag, standby is never able to satisfy the conditions to restart scheduler.

P.S. I love this library. It's saving me so many lines of code.

[2015-09-14 11:28] ChetanBhasin opened #22 "Schedule job for only once or with dynamic timer"
Is it possible to schedule jobs which will be executed only once after a particular amount of time? Or schedule jobs which for which the time hasn't been specified in a strict configuration?

[2015-09-19 11:36] mingchuno commented on #22
why not use context.system.scheduler.scheduleOnce() ?
Scheduler — Akka Documentation
http://doc.akka.io/docs/akka/snapshot/scala/scheduler.html

[2015-09-21 11:40] ChetanBhasin commented on #22
Because it's not persistent.

[2015-10-09 04:16] kwidjaja1312 opened #23 "Enhancement to support Akka-2.4.0"
Hi Guys, first of all i would like to thank you all for this amazing library. Since one of my app is depends heavily on this scheduler, i would like to know whether there will be an enhancement to support Akka-2.4.0? The reason is i need to implement `Akka Persistence` which is based on Akka-2.4.0 and there is no documentation mentioning that this library can work properly with Akka-2.4.0.

[2015-10-09 08:07] ktoso commented on #23
We made 2.3 binary compatible with 2.4.x so you should be able to just use 2.4.

[2015-10-14 12:34] enragedginger commented on #22
@ChetanBhasin I'm not sure that I understand your situation. Like @mingchuno said, my first inkling would be to point you to `scheduleOnce`. Can you explain why this won't work?

[2015-10-14 12:39] enragedginger commented on #15
Closing this issue. Please reopen if it is still a request.

[2015-10-14 12:39] #15 closed

[2015-10-21 07:10] ChetanBhasin commented on #22
@enragedginger Because if the actor system had to be restarted before the job was scheduled, the job will be lost.

[2015-10-21 13:37] mingchuno commented on #22
@ChetanBhasin Do not abuse quartz-scheduler for this task. I think this should be the application logic to persist the `scheduleOnce` job and replay upon actor restart.

[2015-11-26 11:43] anandp504 opened #24 "Schedule job using cron expression as a string instead of from configuration"
Is there a provision to schedule a job directly using cron expression instead of specifying the cron expression in the configuration file? As the documentation suggests, currently this is not possible, is it?

[2015-12-02 08:37] nilsga opened #25 "Share schedule between multiple jobs"
It would be nice to be able to reference a schedule from multiple jobs so one does not have to replicate the schedule for jobs with the same scheduling.

[2016-01-30 22:52] julienlafont commented on #24
You can programmatically create a schedule with [`scheduler.createSchedule`](https://github.com/enragedginger/akka-quartz-scheduler/blob/aa480993867225389e3f1800be82739247c36e21/src/main/scala/QuartzSchedulerExtension.scala#L187).

[2016-02-01 19:44] kdoomsday opened #26 "Messages firing at wrong time"
I have a cron job scheduled with
[code]
Instead of triggering on the hour, it's doing so at half past. It is possible that my country's timezone has something to do with this, because we are at -04:30 UTC, meaning we are displaced half an hour from what is usually expected.

Clearly I could adjust the time in the cron expression, but that would cause confusion to anyone trying to figure out when t

[2016-02-02 03:00] mingchuno commented on #26
You can specify your timezone like:
[code]

[2016-02-02 19:37] kdoomsday commented on #26
That worked perfectly, thanks!. I wonder, though, is there a particular reason it used a different timezone than the one configured for the system?

[2016-02-04 00:41] kdoomsday commented on #26
Thanks for the help, by the way! Closing this.

[2016-02-04 00:41] #26 closed

[2016-02-24 13:38] enragedginger commented on #13
This is now fixed and will be included in the next release.

[2016-02-24 13:38] #13 closed

[2016-02-24 13:40] enragedginger commented on #23
The library should be compatible with Akka 2.4. However, the next release will explicitly support Akka 2.4

[2016-02-24 13:42] enragedginger commented on #22
I agree with @mingchuno. This sounds like logic that should be a part of your application and not necessarily the library. If you feel this is not the case, feel free to submit a pull request and I'll review it.

[2016-02-24 13:42] #22 closed

[2016-02-24 14:06] enragedginger commented on #24
@julienlafont is right. You can call ```scheduler.createSchedule``` to create the schedule with the desired cron expression and then schedule jobs against that schedule by calling ```scheduler.schedule``` with the same name key you passed to ```scheduler.createSchedule```.

[2016-02-24 14:06] #24 closed

[2016-02-24 14:07] enragedginger commented on #20
@tl3shi I'm not sure that I follow. Uppercasing your keys is required as all entries in that map are forced to uppercase. I think the code you have there should work. If there's something you'd like to see included in the library, feel free to submit a pull request.

[2016-02-24 14:10] enragedginger commented on #25
@nilsga Can you just set up one job which sends a message to an Akka actor which then kicks off the other jobs? If not, please submit a pull request.

[2016-02-24 14:10] #25 closed

[2016-02-24 14:26] enragedginger commented on #21
I think this is working as expected. For this functionality, we're really just wrapping what's offered by the Quartz Scheduler. From [the Quartz docs](http://quartz-scheduler.org/api/previous_versions/2.1.0/org/quartz/Scheduler.html#start%28%29) on ```isStarted```:

For your use case, try checking the ```isInStandbyMode``` flag. For more on the differences between ```standby``` + ```start``` vs ``

[2016-02-24 14:26] #21 closed

[2016-02-29 11:53] phelipemaia opened #30 "Is it possible to use with Java?"
I have an akka project written in Java. So, is it possible to use akka-quartz-scheduler in a java project? Or should I build and create a package to use in my project?

[2016-03-01 00:17] enragedginger commented on #30
We don't officially support Java. However, I don't know of any reasons as to why this library will not work with Java. Go ahead and give it a shot and let me know what you find.

[2016-03-06 00:58] enragedginger commented on #23
The newest release supports Akka 2.4 (as of 124debdeb24cb0e787c29c49f38c5c467107eed7). The dependency on Akka is marked as "provided", so you'll want to specify the version manually. If you run into any issues, please let us know.

[2016-03-06 00:58] #23 closed

[2016-03-18 10:01] kwidjaja1312 commented on #23
Thanks, will try it as soon as my migration to playframework 2.5 is successful as i have to upgrade the akka version to 2.4.2 explicitly. Appreciate for the effort.

[2016-03-29 07:53] dspasojevic opened #33 "Thread safety"
Hi,

Should `QuartzSchedulerExtension` be made thread-safe?

My understanding is that Akka extensions must normally manage thread-safety internally. At the moment, I think that it is possible for concurrent access to `createSchedule` to result in a created schedule being lost if the reads, updates and writes occurring in `schedules += (name.toUpperCase -> quartzSchedule)` are interleaved - causing

[2016-03-31 10:38] avive opened #34 "Can't get a schedule to work with a weekly calendar"
I'm using quartz scheduling in a scala project. Scheduling works fine unless a calendar is specified for a schedule. In that case, the task is never triggered by the scheduler. Example:

`akka {
  quartz {
    defaultTimezone = "America/New_York"
    schedules {
      WeeklyEmailSchedule {
        description = "7:00 am every Friday"
        expression = "0 16 11 ? * FRI"
      }
      DailyEmailS

[2016-03-31 10:56] mingchuno commented on #34
[code]
something like this should work

[2016-03-31 14:47] avive commented on #34
@mingchuno if you look at my code above this is basically what I had but it won't fire unless I comment out calendar and my calendar is just set to exclude friday for my daily tasks.

[2016-03-31 15:24] avive commented on #34
I'll answer my own question - in the version I'm using calendar names must be uppercase only. Once I changed the calendar name to DAILYCALENDAR things started working properly.

[2016-04-05 09:57] charyorde opened #35 "Specify end time for a scheduler"
Is it possible to stop a scheduler after x number of times? Or specify an end time?

[2016-04-05 16:01] mingchuno commented on #35
normally you won't "end" a cron job. So I think it is not a valid use case that need to add into the project. But still, you can inc a running counter each time when you receive a job message and cancel the timer when count == x, sth like:

[code]

It is even easier for specify an end time, just check the time now when you receive the job message.

I think those should remain in your business logi

[2016-04-05 16:26] enragedginger commented on #35
Thanks for the explanation, @mingchuno. I agree.

[2016-04-05 16:26] #35 closed

[2016-05-19 09:01] gslowikowski commented on #30
I'm using it with Java in Play! Framework project without problems.

[2016-05-19 19:41] enragedginger commented on #30
Thank you, @gslowikowski

@phelipemaia Let us know if you run into any issues. I'm closing this for now.

[2016-05-19 19:41] #30 closed

[2016-05-20 08:07] gslowikowski commented on #30
I initialize it this way:
[code]
where `system` is `ActorSystem`.

Actually I don't know, why it works, because this extension [requires ExtendedActorSystem](https://github.com/enragedginger/akka-quartz-scheduler/blob/release-1.4.0/src/main/scala/QuartzSchedulerExtension.scala#L24)

:)

[2016-05-20 08:08] gslowikowski opened #36 "Add tag for version 1.5.0-akka-2.4.x"
Tag is missing, add it please.

[2016-05-20 08:14] gslowikowski opened #37 "Add possibility to define misfire instructions for schedules"
This is already on your [TODO list](https://github.com/enragedginger/akka-quartz-scheduler/blob/master/src/main/scala/QuartzSchedules.scala#L28).

I desperately need `MISFIRE_INSTRUCTION_DO_NOTHING`. Can I do anything to apply it in current (1.5.0) version? `trait QuartzSchedule` is sealed and `class QuartzCronSchedule` is final.

Is there a way to call `withMisfireHandlingInstructionDoNothing()`

[2016-05-23 13:59] ktoso commented on #30
Hi guys, the "not usable from Java" is an actual omission in the impl :-)
I've submitted a PR which fixes it so no-one has to do the `MODULE$` hack, please have a look!

https://github.com/enragedginger/akka-quartz-scheduler/pull/38

[2016-06-28 08:31] rajeevkumar11 opened #39 "Akka-quartz-scheduler not invoking multiple actors"
I am using play 2.5.x with Akka-quartz-scheduler - 1.5.0-akka-2.4.x

quartz configuration in application.conf :
        defaultTimezone = "India"
        schedules {
            NowAndThen {
                description ="Delete temp files now and then, eg every hour"
                expression = "*/1 * * * * ?"
                calendars = ["MINIMAL"]
            }
            TestCalender {

[2016-06-29 18:07] #39 closed

[2016-07-19 13:23] aniltoshniwal opened #40 "Scheduler for Actor with Calender exclude"
Feature Requested for Actor with Calender quartz exclusion.

[2016-08-24 08:27] jitengupta opened #42 "Using JDBC store instead of RAMStore"
Hi,
Is there a way I can configure akka-quartz-scheduler to use JDBC store instead of RAMStore. Where can i specify JDBC data source details ?

[2016-08-24 10:04] harmeetsingh0013 opened #43 "How to recover fail scheduled job?"
I am using akka-actor system, and send message to my actor with in specific time. akka-quartz-scheduler is amazing library for schedule chron jobs easily. But if my scheduler node goes down, how can i recover my scheduler? because my scheduling job is really important. I know, for this, we need a clustering, but is there any way using akka-quartz-scheduler for recover scheduled jobs?

[2016-08-24 11:57] enragedginger commented on #42
We don't currently support reading schedules via JDBC. However, you can dynamically add / remove schedule entries at runtime. For your use case, I would suggest writing a simple actor within your application which polls the database on startup (and then again periodically for changes) and sends those schedules to the scheduler to have them dynamically added / removed at runtime.

Does that make se

[2016-08-24 12:08] enragedginger commented on #43
Hello,

This project doesn't have any sort of functionality to do what you're proposing, but I think there's still things you can do to to make this work for your use case.

In the Akka world, the default behavior on actor failure is to simply restart. If you're looking to recover from full system outages / reboots, you could take a look at Akka's persistence library and see if that meets your nee

[2016-08-24 12:08] enragedginger commented on #40
Hello, can you explain what you're looking for in a bit more detail?

[2016-08-24 12:09] #34 closed

[2016-08-24 12:12] enragedginger commented on #20
I'm going to close this due to inactivity. If you're still experiencing issues, feel free to update this thread and re-open.

[2016-08-24 12:12] #20 closed

[2016-08-24 13:21] jitengupta commented on #42
Thanks for quick reply. I had a similar idea, but then quartz does support JDBC stores and cluster aware capabilities via JDBC store.  Its an cluster aware feature that I was looking for. Any pointers on how can we change the code to configure JDBC store instead of RAM store. I would be apply to fork and add this feature.

[2016-08-24 14:01] enragedginger commented on #42
Most of the changes would take place in `QuartzSchedulerExtension`. Basically, you would update the creation of `jobStore` to read from the `akka.quartz` section of the config file. If there's a jobStore specified and the value is `JDBC` then you would read in the JDBC connection parameters and build the JDBC Quartz job store accordingly. If the `jobStore` value is either not-specified or is `RAM`

[2016-08-24 14:04] enragedginger commented on #36
This is done.

[2016-08-24 14:04] #36 closed

[2016-09-06 12:50] phelipemaia commented on #30
Perfect.. Thanks @ktoso @gslowikowski and @enragedginger

sorry for the delay...

[2016-10-12 05:51] tukushan commented on #37
I've been using this hack for now:

[code]

[2016-11-15 12:43] Alefas commented on #33
QuartzSchedulerExtension must be thread-safe.
That's not the only problem, runningJobs is mutable.Map, but not Concurrent, so it's quite simple to get NPE.

I tried to find possibility to remove schedules after restart and found that this library is dangerous to use. So the only way to use it now is to use it from the single actor.

[2016-12-05 15:21] cpoissonnier opened #47 "Default timezone"
Hello,

Just a quick question ... Don't you think that timezone should be set automaticaly to the system timezone?

I spent 2 hours figuring out why my job wasn't triggered ;)

Thanks for this great extension !

[2016-12-12 17:14] zoltanmaric opened #48 "Can't restart a job put on standby"
After suspending the scheduler, it can no longer be resumed.

[code]

This is because the `start` method only checks the value of the `isStarted` field, but not the `isInStandbyMode` field.

Proposed patch:

[code]

[2016-12-12 17:28] zoltanmaric commented on #48
I can submit a pull request later.

[2016-12-13 00:19] enragedginger commented on #48
This sounds reasonable to me. Does anyone else have any comments on this?

@zoltanmaric If you submit a pull request, I'll review it.

Thanks!

[2017-01-11 14:34] efrister opened #49 "How to put two actors on the same schedule?"
Hi,

I have a scheduleconfigured that's named "_EveryMinuteDuringWeekdays_". I want **two distinct actors to receive a Tick-message** on that named schedule. If I schedule the ticket message for only one actor, it works fine. If I want to schedule it for the other actor as well, I get an exception.

Exception:
`org.quartz.ObjectAlreadyExistsException: Unable to store Job : 'DEFAULT.EveryMinuteDuri

[2017-01-23 15:45] enragedginger commented on #49
It looks like this exception is coming from Quartz itself because that job name is already registered. Here's two options:
1. Register the same schedule twice under two different names.
2. When scheduling the job, point to a broadcast actor / pool that simply broadcasts the message to any actors that should receive the message. You can find more on broadcasting [here](http://doc.akka.io/docs/akka/

[2017-01-30 04:12] sarikbansal opened #50 "Copy of message is send while invoking schedule method"
Hi All,

   I am using this scheduler in my application and found that whenever the schedule method is invoked then the copy of the message is being send down to the the sender class. example :-

schedule("EveryDayAt6AM", <akka actor>, new Date)

In the above example, I am passing new Date as the message to the actor. whenever the scheduler is invoked again then I was expecting the new Date but in

[2017-02-04 15:11] enragedginger commented on #50
Hi @sarikbansal

The object passed as the third parameter to the `schedule` message is passed by reference to the actor. To get the desired functionality that you're looking for, you'll have to generate a new `Date` instance inside of that actor and then use that within your system. For the initial message to that actor, something like `case object DoTheJob` should do the trick:
`schedule("EveryDa

[2017-02-04 15:11] #50 closed

[2017-02-05 16:18] smartmanav opened #51 "Date doesn't change after Friday."
So we are using akka-quartz-scheduler for creating csv as part of a scheduled job which kicks off very 10 minutes (timing will change once application goes to prod).

**My akka config looks like following :**
[code]

**My scala code looks like following :**
[code]
When my csv job is kicked off every 10 minutes, I am logging the message as following :
Received request to load json documents with da

[2017-02-05 16:52] enragedginger commented on #51
Hi @smartmanav,

I think you're seeing the same issue from #50. Basically, when you call `schedule`, `getCurrentDate` is invoked and its result is returned. This is why everything works fine for the first day. I'm guessing there are redeploys and restarts of your app on weekdays which is why you're only seeing this issue on weekends. To get around this, just generate the date inside of the actor w

[2017-02-10 08:46] phaith opened #52 "Can't remove schedule from QuartzSchedulerExtension directly."
I've problem to recreate schedule with different cron expression. I can use ` QuartzSchedulerExtension(system).createSchedule(xxxx)` then I can use `QuartzSchedulerExtension(system).schedule(xxxx)` for the first time. However, I've to handle it in different way to recreate it by using `QuartzSchedulerExtension(context.system).rescheduleJob(xxx)`.

Should `cancelJob` also call `removeSchedule` so t

[2017-04-13 17:41] #51 closed

[2017-04-18 16:09] ps3331333 opened #53 "Injecting class in Actor invoked by Akka-quartz-scheduler"
I have the following actor in Play for Scala that injects a class with Guice:

[code]

When I try to schedule it I get an error as me2 is null:

This is how I invoke it:

[code]

How to get a reference to an injected object when the Actor is invoked from Akka-Quartz-Scheduler? I also tried injecting with @Inject as class parameters but that doesn't work either.

This is class MainEtl2 code:

[code

[2017-04-18 17:06] enragedginger commented on #53
Hello,

I'm willing to bet that you're running into this error because `Props[MainEtl]` is creating a reference to the actor without going through Guice. Therefore, your `@Inject` annotations are irrelevant at runtime. You'll need to ensure that the actor reference passed to `scheduler.schedule` is created by Guice if you plan on using dependency injection with your actors.

[2017-04-18 17:06] #53 closed

[2017-05-04 18:48] markschaake opened #55 "Publish akka 2.5.x release?"
Hi, thanks for maintaining this great library!

It looks like the project has already been [updated for akka 2.5.x](https://github.com/enragedginger/akka-quartz-scheduler/commit/ffc9a8f415434fd123033c3cff207ac9014c28eb), but there isn't a release published to [maven central](https://repo1.maven.org/maven2/com/enragedginger/akka-quartz-scheduler_2.12/) yet. Is there a reason for the delay?

Thanks,

[2017-05-05 00:53] enragedginger commented on #49
Marking this as closed. Please reopen if this is still an issue.

[2017-05-05 00:53] #49 closed

[2017-05-05 00:54] enragedginger commented on #43
Marking this as closed. Please reopen if this is still an issue.

[2017-05-05 00:54] #43 closed

[2017-05-05 00:54] enragedginger commented on #42
Marking this as closed due to lack of activity. Please reopen if you have a PR for review

[2017-05-05 00:54] #42 closed

[2017-05-05 00:55] enragedginger commented on #40
Marking as closed due to inactivity. Please reopen with more details if this is still desired.

[2017-05-05 00:55] #40 closed

[2017-05-05 00:58] enragedginger commented on #52
I'm not sure I understand exactly what you're getting at. Can you explain in a bit more detail? If this is still a desired feature, can you submit a PR with tests?

[2017-05-05 01:04] enragedginger commented on #55
Typically, we bump the build for a new version of Scala, Akka, or some arbitrary libray. And then I say to myself, "I should publish a new build soon." And then I forget to do it until someone comes along and asks nicely.

Anyhow, version `1.6.1-akka-2.5.x` has been "release" and should be available through Maven Central in the next 24 hours.

[2017-05-05 01:04] #55 closed

[2017-05-29 07:53] estsauver opened #57 "Scheduler triggers job on start"
Hi there,

I'm seeing an issue where a job is triggered on initialization.
[code]
This is what the scheduling looks like:
[code]
There's no other place that could be sending this message to this actor. I'm a little confused as to why the "LotteryNotificationRunner" is executing on startup.

[2017-05-29 07:56] estsauver commented on #57
This seems to only occur when a startDate is specified.

[2017-05-30 15:16] enragedginger commented on #57
Hi @estsauver, the startAt date/time functionality simply specifies the earliest time at which the trigger may fire. The date you have listed, May 26th, is hard coded and is three days before you posted this ticket. My assumption is that because that date is in the past, and your `EveryNight` trigger would have fired multiple times since then, Quartz is firing off the message on startup. Typically

[2017-05-30 22:59] enragedginger commented on #57
@estsauver What happens if instead of hardcoding May 26th as the date, you set the startAt value to something like `new DateTime().minusHours(1)`? Does the issue still occur?

[2017-06-11 22:51] estsauver commented on #57
Hey @enragedginger,

That makes sense. The case we were using this for was launching a campaign on a certain day. We didn't realize that every time we deployed the app and restarted after this day, it would trigger again.

Basically, as it is now, this functionality makes software function in a totally expected way before the start date, and then any restarts after trigger that functionality again

[2017-06-13 14:02] enragedginger commented on #57
Yeah, I can see how that would be frustrating. Unfortunately, this is baked into Quartz which we're merely wrapping. For your use case, I recommend comparing whatever your hardcoded date is with the current date/time and using whichever of the two is later. Something like this should do the trick:
[code]

Does that work for you?

[2017-06-24 03:12] enragedginger commented on #57
Closing due to inactivity.

[2017-06-24 03:12] #57 closed

[2017-07-05 15:10] enragedginger commented on #52
Marking this as closed due to inactivity.

[2017-07-05 15:10] #52 closed

[2017-07-05 15:11] enragedginger commented on #48
Marking as closed due to inactivity.

[2017-07-05 15:11] #48 closed

[2017-08-21 17:31] ps3331333 opened #58 "How to unload the scheduler when Play is stopped/reloaded"
Using the scheduler in Play for Scala, I initiate the scheduler on startup like so:

Problem is that I load a table using Hibernate in the scheduler task, and when Play is reloaded due to code change, I get an error saying that classes "cannot be cast" where the class is the same. This happens because the classloaders are different.

One solution is to unload the scheduler when Play is reloaded, h

[2017-08-21 17:37] enragedginger commented on #58
Hi @ps3331333,

This issue is really more of a Play issue than anything else, I believe, as Play causes this kind of issue with a few different libraries.

Basically, you'll want to use the `ApplicationLifecycle` to manage this. You can read more about that [here](https://www.playframework.com/documentation/2.5.x/PluginsToModules#Create-a-Module-class). Hopefully that helps.

[2017-08-21 17:37] #58 closed

[2017-08-25 14:28] niiamon commented on #47
How did you set the defaultTimezone? Doing this doesn't work:

akka {
  ...
  quartz {
    defaultTimeZone = "America/Los_Angeles"
...

[2017-08-26 02:09] captainmannering opened #60 "create published build for akka 2.5 and scala 2.11"
because I can't upgrade to scala 2.12 yet due to other constraints

[2017-08-28 08:48] captainmannering commented on #60
no longer need this done, please ignore.

[2017-08-28 08:48] #60 closed

[2017-08-29 16:32] cpoissonnier commented on #47
[code]

[2017-08-30 22:28] vinayakpathak opened #61 "Upgrade to v2.3.0 of quartz"
It's still using 2.2.3, which is causing conflicts from its transitive dependencies.

[2017-09-01 16:53] enragedginger commented on #61
I've merged the PR. For future reference though, you can just manually specify some other version of Quartz in whatever dependency management system you're using.

[2017-09-01 16:53] #61 closed

[2017-09-01 18:42] vinayakpathak commented on #61
Thanks! Yes, I did end up doing that. To give you some more detail on the issue:

The older version of quartz used an older version of c3p0, which was hosted in _a different group_ on maven than the new version of c3p0. My application used the new version of c3p0. The different group confused sbt into thinking that they are actually different libraries and it tried to include both of them, thus ca

[2017-09-01 18:53] enragedginger commented on #61
Wow. That's rough. Yeah, transitive dependency conflicts are the worst.

[2017-09-07 23:30] jtjeferreira commented on #60
any reason why 1.6 is only published for scala 2.12? just curious.

[2017-09-26 01:20] SamTheisens opened #64 "Publish akka 2.5.x scala 2.11 version"
Could you please publish a Scala 2.11 and akka 2.5.x compatible version of this library? In my project I can't upgrade to Scala 2.12 yet due to a dependency on Apache Spark.

[2017-09-26 01:30] mingchuno commented on #64
@SamTheisens You can try "1.6.0-akka-2.4.x", it should be working too for Scala 2.11 X akka 2.5.x

[2017-09-26 01:40] ktoso commented on #64
Hi there, Akka team here, not quite sure why the library includes Akka versions in the version...
Akka 2.5 is strictly backward binary compatible with 2.4.x, which is enforced and documented: doc.akka.io/docs/akka/current/scala/common/binary-compatibility-rules.html

cc @enragedginger was there a specific reason you chose to publish with akka versions in the version here?

[2017-09-26 01:49] enragedginger commented on #64
Hi everybody!

@SamTheisens, @mingchuno is right. You should be able to use version `1.6.0-akka-2.4.x`. It was built specifically for Scala 2.11. The only difference between it and the next version is the Scala version.

@ktoso Akka 2.5 is indeed backwards compatible with 2.4. The decision to include the Akka version number in the build number predates my inheritance of this project. Regardless, i

[2017-09-26 12:27] ktoso commented on #64
Hmm, I see... It's a rather unfortunate versioning scheme since the only version that could affect compatibility is "akka 3" which currently is not even planned to happen any time in the coming years hm.

I guess you'd rather not change the versioning scheme? Though it is a bit misleading as shown by this ticket hm.
If not, then perhaps explaining that "if you need scala 2.11 you can use that vers

[2017-10-07 23:54] SamTheisens commented on #64
Thanks @enragedginger, I have tried `1.6.0-akka-2.4.x` and I can confirm it works well with Akka 2.5. I agree with @ktoso's suggestion on the README.md, this would have helped me.

[2017-10-07 23:54] #64 closed

[2017-10-11 14:53] enragedginger commented on #64
@SamTheisens Thank you for confirming this. Can you submit a PR on the README.md with some text that you think would be helpful for anyone else who might run into this?

[2018-01-09 14:41] OlafurD opened #66 "Support for akka 2.5 and scala 2.11"
Is it possible to support akka 2.5 with scala 2.11?

[2018-01-30 15:11] urieli commented on #66
See https://github.com/enragedginger/akka-quartz-scheduler/issues/64

[2018-01-30 15:29] enragedginger commented on #66
Hi @OlafurD, @urieli is correct, this is a duplicate of #64. You should be able to use the Akka 2.4, Scala 2.11 build of the project just fine with Akka 2.5.

[2018-01-30 15:29] #66 closed

[2018-02-01 19:38] rustyfetty opened #67 "RescheduleJob only accepts ActorRef"
Why does the rescheduleJob in QuartzSchedulerExtension only accepts ActorRef in its parameters?I prefer to use ActorSelection over ActorRef. That way if the actor dies, you can get the new path from the ActorSelection. Can you make it also accept ActorSelection?

[2018-03-16 21:19] walter-torricos-mojix-com opened #68 "Scheduler stops after 8 repetitions"
I made some tests with the following cron expression
akka {
  quartz {
    schedules {
      Every30Seconds {
        description = "A cron job that fires off every 30 seconds"
        expression = "*/30 * * * * ?"
      }
    }
  }
}
I played around with different values for the expression but it always stops after 8 repetitions.

I'm importing this version of the library:
"com.enragedginger" %%

[2018-03-17 04:24] mingchuno commented on #68
@walter-torricos-mojix-com can you create a reproducer repo for us to test?

[2018-03-19 12:51] walter-torricos-mojix-com commented on #68
@mingchuno thanks but I'm going to close this issue. There is no problem with your library, the problem is that I inherited from a base class actor that we have and which has a bug and is locking after some time, that's why my actor stopped being called. Again thanks for your help and sorry for the inconvenience.

[2018-03-19 12:51] #68 closed

[2018-03-19 15:44] enragedginger commented on #68
Good to know. Thank you!

[2018-05-15 10:38] pawelkaczor commented on #34
This is a bug "calendar names must be uppercase only. I lost 2 hours finding out what's going on.

[2018-05-15 10:42] pawelkaczor opened #70 "Scheduling does not work if calendar name IS NOT upper case."

[2018-05-15 10:44] pawelkaczor commented on #70
The same issue is reported here: #34

[2018-06-12 19:27] olambo opened #72 "release for Scala 2.11.x and Akka 2.5.x"
Any possibility of a build for Scala 2.11.12 and Akka 2.5.12
reason: It looks like Spark is not upgrading to Scala 2.12.x at all.

[2018-06-23 04:20] schleumer opened #73 "Custom calendars"
Shouldn't it be possible to add custom calendars? I mean, actually calendars are just configurations with no possibility to "customization", like exclude weekends in monthly calendars(it's useful to pick the first business day of a month), because it's all inside `QuartzCalendars` and `QuartzCalendars` is accessed directly by `QuartzSchedulerExtension`, although it's possible to create custom cale

[2018-07-06 12:31] sleski opened #74 "akka-quartz-scheduler with java"
Hi, I just wanted to use your lib with playframework-java app.
I created sample project - https://github.com/sleski/play-akka-quartz-example
I created two actors which should be triggered by cron scheduler every 10seconds.
But this does not work. App starts, from log looks like it should be triggered:

`[INFO] from com.typesafe.akka.extension.quartz.QuartzSchedulerExtension in application-akka.act

[2018-08-11 10:10] mtrna commented on #74
Hi Sławek, the correct cron expression for 10 second interval would be:
`expression = "0/10 * * ? * * *"`

[2018-08-12 20:38] sleski commented on #74
Hi Michal (@mtrna ),
thanks for info, yes, my cron expression was not correct. But this still not solve my question :/

[2018-08-14 07:07] mtrna commented on #74
Hi Sławek, perhaps this PR addresses your question? https://github.com/sleski/play-akka-quartz-example/pull/1

[2018-08-14 08:38] sleski commented on #74
Hi Michael,
thanks for PR, I will check it later.

[2018-08-14 12:56] sleski commented on #74
Hi Michael,
yes, it works :-)

Thanks a lot for your help!

[2018-08-14 12:56] #74 closed

[2018-08-16 20:15] ddua1 opened #76 "Getting the Scheduler instance using the scheduler name"
Is there a way to get the scheduler instance if I have the scheduler name?

[2018-09-14 13:55] nebehr opened #77 "Make QuartzSchedulerExtension#removeSchedule public"
Since ```createSchedule``` method is public it makes sense to make ```removeSchedule``` public as well. Currently a schedule can be deleted by removing entry from ```schedules``` map but ideally IT should be made private instead.

https://github.com/enragedginger/akka-quartz-scheduler/blob/master/src/main/scala/QuartzSchedulerExtension.scala#L241

[2018-09-22 12:29] enragedginger commented on #67
@rustyfetty Hello, sorry it took me so long to get around to this, but the library now supports `ActorSelection`.

[2018-09-22 12:29] #67 closed

[2018-09-22 12:30] enragedginger commented on #37
@gslowikowski @tekumara Feel free to submit a PR if you feel that you have something that would benefit other users of the library.

[2018-09-22 12:30] #37 closed

[2018-09-22 12:31] enragedginger commented on #47
Marking this as closed due to lack of a response.

[2018-09-22 12:31] #47 closed

[2018-09-22 12:36] enragedginger commented on #73
Hi @schleumer, you should be able to add custom calendars in the same config file as your schedules. From the docs:

`There are two 'primary' sub-blocks of the akka.quartz configuration, which are schedules and calendars.`

[2018-09-22 12:36] #73 closed

[2018-09-22 12:39] enragedginger commented on #76
@ddua1 There isn't anything built into the API directly to support this. However, you can extend `QuartzSchedulerExtension` and build functions for accessing `scheduler` or `schedules` directly.

[2018-09-22 12:39] #76 closed

[2018-09-22 12:40] enragedginger commented on #77
@nebehr Thanks for the suggestion. I can see the value of this. It's a bit more complicated than simply removing the schedule as you'd want to cancel the associated jobs first. Feel free to submit a PR for this.

[2018-09-22 12:40] #77 closed

[2018-09-22 13:07] enragedginger commented on #72
Hi @olambo, sorry it took me so long to get around to this. Spark's insistence on staying behind the times on Scala versions has always bothered me. Regardless, I pushed a build a few minutes ago: `libraryDependencies += "com.enragedginger" %% "akka-quartz-scheduler" % "1.7.0-akka-2.5.x"`. Let me know if it doesn't work for you.

[2018-09-22 13:07] #72 closed

[2018-10-03 10:14] vendethiel commented on #77
Why close the issue? Even if you're waiting for someone to contribute the feature, it's actually useful to have that issue open.

[2018-10-03 14:59] enragedginger commented on #77
@vendethiel I'm not waiting for someone to contribute the feature at this point. If someone wants to volunteer to do it and submit the PR, they're welcome to do it. I prefer to use issues on GitHub projects for true issues with the software or possibly active feature development. The "projects" section of each project exists specifically to track future work.

[2018-11-21 21:43] twoodhouse opened #78 "Rebuild on Scala 2.12.7 Mandatory"
Hi! I am using this library, but it is now broken for Java 11.
Any QuartzSchedulerExtension.get(....) java calls fail with "reference to get is ambiguous"

For info, see this post:  https://contributors.scala-lang.org/t/library-authors-rebuild-on-2-12-7-to-improve-callability-from-java-on-jdk-11/2465

If you could rebuild on Scala 2.12.7, it will fix the issue.
It would be awesome if you could do

[2018-11-22 01:55] enragedginger commented on #78
Hello @twoodhouse ,
Thanks for reporting this. I don't have any Java projects that are using this library, so I don't have an easy way of testing this out. Can you:

- Clone down this project
- Update the Scala version in build.sbt from 2.12.4 to 2.12.7
- Build the project (with either `sbt install` IIRC)
- Test against your local Java 11 project
- And then let me know if that resolves the issue

[2018-11-26 16:50] twoodhouse commented on #78
When you get the chance, I would appreciate a maven jar for this (built with scala 2.12.7). Thanks for the support!

[2018-11-28 17:09] #78 closed

[2018-11-28 17:11] enragedginger commented on #78
@twoodhouse I've published version 1.7.1 of the akka-quartz-scheduler which should fix your issue.

[2018-11-30 15:20] refond opened #79 "No public way to remove a schedule"
_Note: I refer to `QuartzSchedulerExtension` instance as `scheduler`_

While using `scheduler.cancelJob("MY_JOB_1")` for a corresponding existing job, the job stops from firing as expected. There is no more reference to it in `scheduler.runningJobs` unlike `scheduler.schedules` which still holds a reference to the removed job !

A simple extra call to `scheduler.removeSchedule("MY_JOB_1")` would f

[2018-11-30 16:36] enragedginger commented on #79
Hi @refond,

There has been interest in this feature in the past (i.e. #77), but no one has volunteered. Your approach sounds good. If you make a PR (with a couple of tests), I'll take a look at merging it in.

Thanks!

[2018-11-30 18:10] refond commented on #79
Hi @enragedginger,

Thanks for pointing at #77. I will do a PR as soon as I have managed to create some tests.

Regards

[2018-12-17 14:12] refond commented on #79
Hi @enragedginger,
I finally found time to make a PR with corresponding tests. I have a bit extended the scope of the PR to include not only `unscheduleJob` aka `deleteJobSchedule` but also the corresponding create and update operations, using existing methods as building blocks.

Looking forward your feedback

[2019-01-07 18:24] vuongbason994 opened #82 "Do jobs overlap?"
Hi, would like to know if jobs overlap if the previous trigger is still running and exceeds the interval?

[2019-01-08 02:10] enragedginger commented on #82
Hi @vuongbason994 jobs will fire on their regularly scheduled intervals. However, by design, Akka actors only process one message at a time, so you won't have to worry about the same job running simultaneously

[2019-01-08 02:10] #82 closed

[2019-01-08 13:31] vuongbason994 commented on #82
What I meant was that I do not know for sure whether the processing time for the previous batch will exceed the time interval set, hence it is vital that the next trigger will get executed at the fixed intervals whilst any previous jobs continue processing

[2019-01-08 13:35] enragedginger commented on #82
@vuongbason994 That's a good question. By design Akka actors only process one message at a time. However, you can set up pools of actors to achieve the desired effect. In this case you could set up a pool / shared mailbox / router on the `ActorSelection` that you pass to this library (or just pass in a ref to a single actor and then route / forward the message to your pool of actors from that sing

[2019-01-08 13:37] vuongbason994 commented on #82
Thanks so much again for your kind assistance! I will take a look at the akka docs then :) +1:

[2019-02-08 13:14] enragedginger commented on #79
@refond I've merged your changes and published build `1.8.0-akka-2.5.x`. Thank you for your work on this!

[2019-02-08 13:14] #79 closed

[2019-02-08 16:07] refond commented on #79
@enragedginger Great! Thank you for publishing and for this project !

I will upgrade to 1.8.0-akka-2.5.x soon.

||

On 08.02.19 14:14, Stephen Hopper wrote:

[2019-03-13 17:31] PawelLipski opened #83 "Version conflict on HikariCP when switched to Play 2.7.x"
Bumping Play to 2.7.x forces bumping play-slick to 4.0.0… which depends on slick-hikaricp 3.3.0 which depends on HikariCP 3.2.0.

The latest akka-quartz-scheduler (1.8.0-akka-2.5.x) depends (via quartz 2.3.0) on HikariCP-java6 2.3.13 (which gets evicted).

Any attempt to run the app ends in a missing method or not class found, don’t remember which one exactly :/

Is there any non-surgical solution

[2019-03-13 17:43] enragedginger commented on #83
If you want to submit a PR with updated dependencies, I'll take a look at it.

[2019-03-13 17:55] PawelLipski commented on #83
I see that quartz 2.4.0-SNAPSHOT depends on updated HikariCP (3.2.0) that also Play 2.7.0 depends on:

[code]

The problem is that most likely you don't want akka-quartz-scheduler to depend on a non-stable version of quartz, right? :/

[2019-03-13 17:58] PawelLipski commented on #83
And I don't see any clue as to when 2.4.0 is meant to become a stable release... https://github.com/quartz-scheduler/quartz/milestones

[2019-03-15 08:28] voukka commented on #83
+1 to make it work with deps of Play 2.7.x

[2019-03-20 15:37] enragedginger commented on #83
@PawelLipski Thanks for looking in to this. If you haven't done so already, can you open an issue with the Quartz folks linking back here and try to find out what their timetable is for a release? It'd be nice to keep this library compatible with the latest versions of Play, but, much like yourself, I want to avoid having to put in classloader hacks.

[2019-03-20 17:36] PawelLipski commented on #83
@enragedginger In the meantime someone posted an issue in quartz regarding 2.3.1 (https://github.com/quartz-scheduler/quartz/issues/406)... and I don't think the answer for 2.4.0 will be any different than that :(

One thing we can do is to upvote the comment https://github.com/quartz-scheduler/quartz/issues/406#issuecomment-474534873 to hasten the 2.3.1 release... this version itself only bumps H

[2019-03-25 19:15] PawelLipski commented on #83
@enragedginger Quartz 2.3.1 should be available on Maven Central soon. Let's now chase them to release 2.4.0 because that's what matters for us ;) https://github.com/quartz-scheduler/quartz/issues/409

[2019-04-03 18:22] pawelkaczor commented on #83
:+1:  I'm facing the same problem when trying to upgrade to akka-persistence-jdbc ver. 3.5.0.

[2019-05-04 12:07] Unlocker opened #85 "Is it difficult to make JobStore configurable?"
I am using a scheduler for the my web service based on Play Framework 2.5.
I want to implement a possibility for a horizontal scaling. Several instances will create several independent JobStores and will execute jobs much frequent. Quartz has a clustered execution mode which provides by a corresponding common job store.
Are there any ideas how to make this?

[2019-05-17 18:12] enragedginger commented on #85
Initially, I would suggest staying with a single actor tied to the Quartz scheduler and have it simply forward the messages off to other pools of Akka actors as necessary.

You can find more information on setting up a proper Akka pool in the Akka documentation here: https://doc.akka.io/docs/akka/current/typed/routers.html#pool-router

[2019-05-17 18:12] enragedginger commented on #85
Does that make sense?

[2019-05-18 20:34] Unlocker commented on #85
@enragedginger,
you are right with some proposals such as a single Akka cluster and a single actor which handles Quartz events and schedulers.
I have another case because my Akka clusters are independent. There is a web app based on Play Framework. My production instance consists of two independent replicas of web application. I have enough when only one of replicas handles some Quartz event. I do

[2019-08-07 14:03] obaidsalikeen opened #87 "How to implement a Persistent Scheduler ?"
We have a use-case where a step in a flow needs to wait for 3-5 days for an action to take place (We have a Graph of actors which are executed one after another). Similar to a business process, you might have steps that need to wait (like requesting an approval from a human etc).

Would you recommend akka-quartz-scheduler for this use-case? Also, if the application restarts after a crash, will akk

[2019-08-08 13:44] enragedginger commented on #87
Hello @obaidsalikeen,

People have asked about this before (#22). `akka-quartz-scheduler` will ensure that your  job fires at the right time after it is scheduled. However, if your application fails for some reason, you'll need custom application logic to handle rescheduling the jobs.

Behind the scenes, `akka-quartz-scheduler` is using Quartz's `RAMJobStore`. You could look into trying to swap th

[2019-08-20 02:29] fliptoo commented on #83
+1

[2019-09-16 10:01] pybuche opened #88 "Running multiple Play instances fires jobs multiple times"
Hi,

I'm not exactly sure if this can be handled, but I'm struggling to find a way to have only one scheduler for my Play app that is deployed and replicated via Heroku.

I use the scheduler this way:
**Module.scala**
[code]

**TaskScheduler**
[code]

And the `TaskActor` that handle Akka messages and execute jobs.

Everything is working well with one instance of my app, but if I replicate it, the

[2019-09-16 13:45] enragedginger commented on #88
Hi @pybuche,

Can you explain what you mean by "if I replicate it"? Are you talking about replicating your app on Heroku? Is it basically spinning up multiple instances of your Play application?

[2019-11-01 16:39] Reeebuuk commented on #83
Seems like they're not planning on releasing 2.4.0 anytime soon :/

[2019-11-11 15:29] shestero opened #89 "Not compartible with new Akka 2.6.0"
There is no akka.actor.ExtensionKey more...

[2019-11-12 15:35] guntiso commented on #89
[code]

[2019-11-20 14:59] enragedginger commented on #89
This is addressed by #90. New build coming soon.

[2019-11-20 14:59] #89 closed

[2019-11-20 15:30] enragedginger commented on #89
The new build is out and should be available on maven central shortly.

[2020-01-16 17:00] mam-ijinus commented on #83
+1 :) don't works with play 2.8
![image](https://user-images.githubusercontent.com/41424406/72545878-0c3a2180-388a-11ea-8033-754ef9d4df2e.png)

[2020-02-10 17:57] vasyl-zhurba commented on #83
Quartz [has changed its dependency scope](https://github.com/quartz-scheduler/quartz/commit/3272083d2a98e8ac316b24e2747f8442fcf47fef) of HikaryCP to `provided`. Is not it a matter of rebuilding the project with latest quartz scheduler version?

[2020-02-11 14:16] PawelLipski commented on #83
@mam-ijinus btw, what tool did you generate that dependency tree with?

[2020-02-11 14:22] mam-ijinus commented on #83
I remove my dependency but it must be: https://github.com/jrudolph/sbt-dependency-graph

BTW, I direcktly used akka.actor.ActorSystem.scheduler() to do what I want( send an email very day at 17h00)

[2020-03-01 16:24] giannoug commented on #83
Can confirm this is still an issue with Play 2.8.0. After adding the `akka-quartz-scheduler` dependency, you get the following:
`NoSuchMethodError: 'void com.zaxxer.hikari.HikariConfig.setInitializationFailTimeout(long)'`

[2020-03-01 16:31] vasyl-zhurba commented on #83
My solution to fix that problem was to exclude hikariCP:
```"com.enragedginger" %% "akka-quartz-scheduler"     % versions.akkaQuartz exclude ("com.zaxxer", "HikariCP-java6")```

[2020-03-02 16:05] #83 closed

[2020-03-02 16:20] enragedginger commented on #83
Hi everyone,

Thank you to everyone who tracked this down and contributed to troubleshooting it. Quartz scheduler `2.4.0` still hasn't released. @vasyl-zhurba Although Quartz has updated their scope for Hikari-CP to be `provided`, that change isn't available in their latest release build `2.3.2`; it looks like it won't be available until their `2.4.0` build.

So for now, I've just upgraded to Quar

[2020-03-05 11:11] matanghuy opened #91 "Play 2.7.x and 2.8 support"
Hi,
Are you planning to support newer Play versions?

[2020-03-05 11:12] matanghuy commented on #91
My mistake... confused between Play an Akka

[2020-03-05 11:13] #91 closed

[2020-04-24 00:01] captainmannering opened #92 "Akka Typed sample"
Could the documentation be updated to give a simple example of having an Akka Typed Actor directly be the recipient of the message rather than a classic Actor?

[2020-04-24 14:03] enragedginger commented on #92
Hi @captainmannering Are you wondering how one can use an Akka Typed Actor with this project? If so can you post some more details about the issues you're facing?

Regarding documentation, I'll happily consider a PR.

[2020-04-28 01:15] captainmannering commented on #92
Maybe I am just thinking about it the wrong way, but for this method signature in the documentation:

[code]

What if I have a typed actor instead? Is there a way to call schedule with types like this?..

[code]

?

[2020-04-28 14:42] enragedginger commented on #92
If I'm not mistaken, you should still be able to call the first definition of `schedule` as you have it listed there. Can you try that? Do you get any kind of error?

[2020-04-30 10:36] pawelkaczor opened #93 "Improve 'Setting up scheduled job ...' log message"
Currently the following message is logged (for each schedule entry):

`
12:24:09,037 INFO  [QuartzSchedulerExtension] Setting up scheduled job 'TestJob', with 'com.typesafe.akka.extension.quartz.QuartzCronSchedule@35876530'
`

The message is not very useful.

In my project I produce the following log message:

`
12:24:09,035 INFO  [PeriodicJobScheduling] Job 'TestJob' will be triggered at 03:01, t

[2020-04-30 11:30] an-tex commented on #92
You can convert a typed `ActorRef[T]` to a classic (untyped) `ActorRef` like this:

[code]

More on that: https://doc.akka.io/docs/akka/current/typed/coexisting.html#typed-to-classic

[2020-05-08 12:12] enragedginger commented on #93
@pawelkaczor Feel free to submit a PR for this and I'll look at it.

[2020-05-14 06:04] pawelkaczor opened #95 "Upgrade to sbt 1.x.x"
Requires upgrading sbt plugins.

[2020-05-16 23:51] enragedginger commented on #92
@captainmannering Does that resolve your issue?

[2020-05-21 14:05] #33 closed

[2020-05-29 12:13] captainmannering commented on #92
Yes! thanks!

[2020-05-29 12:13] #92 closed

[2020-07-26 20:04] jarlah commented on #88
You need to setup the Play application in an Akka cluster to avoid having the same actor being spun up on both nodes. I was just looking at this issue now and was beginning to get afraid this is actually an issue, but as I conclude its an issue with missing Akka cluster configuration. Correct me if I am wrong. When both apps are in the same Akka cluster, there exists options to check that the acto

[2020-07-26 23:34] enragedginger commented on #88
@jarlah I believe you're correct. I'm going to close this issue for now. Thanks for investigating.

[2020-07-26 23:34] #88 closed

[2020-08-28 09:33] saint7007 opened #99 "default-scheduler-1 threads not getting closed"
Hi,

`object Main extends App{
  val _system: ActorSystem = ActorSystem.create("SchedulerSystem")

  implicit val executionContext: ExecutionContextExecutor = _system.dispatcher
  val scheduler = QuartzSchedulerExtension
  val schedulerActor = _system.actorOf(Props(classOf[ScheduleJobActor]),
    "Schedule")

  QuartzSchedulerExtension.get(_system).createSchedule("oneMinuteScheduler", None,
    "0

[2020-08-28 15:16] #99 closed

[2020-08-28 15:16] saint7007 commented on #99
sorry nothing related to quartz. Something to do with my code itself.

[2020-10-27 07:12] froth opened #101 "Support for Akka Typed"
As the typed akka api is now the default in the akka project it would be nice if akka-quartz-scheduler would support it.

For example all api's that currently have the current format:

[code]

should have an additional typed implemention of the form

[code]

 However it would require a typed implementation of SimpleActorMessageJob I think. My first thought for the content of the jobDataMap would b

[2020-11-02 14:32] ngu04 commented on #101
I have updated actor from 2.5.x to 2.6.x and now quartz actor doesn't have support for typed-actor so I wouldn't be able to use quartz or typed actor :-(

[2020-11-17 17:04] felipebonezi commented on #101
@froth @ngu04 I've opened a Pull Request, check it out!

[2021-02-07 12:31] felipebonezi commented on #101
Hey guys, I'm already using in production.
So, if you want to use before @enragedginger review PR #102

[code]

[2021-03-24 13:16] #101 closed

[2021-03-24 13:45] enragedginger commented on #101
The new release has been cut for this and is available on maven central.

[2021-03-24 14:04] felipebonezi commented on #101
@enragedginger why Travis is `build not passing`?

[2021-03-24 14:10] enragedginger commented on #101
The `QuartzSchedulerFunctionalSpec` tests are flaky and have been that way for awhile now. If I run the whole test suite with `sbt test` two of the tests in that class fail. But just running the `QuartzSchedulerFunctionalSpec` tests alone results in success. If you could find a way to make them succeed 100% of the time, that'd be great.

[2021-03-24 15:09] felipebonezi commented on #101
@enragedginger figure out that if we run the test method by your self (only the method) it works.
I think we have some concurrency problem in the test with Typed Actors. Can you help me to how to fix it?

[2021-03-24 19:39] felipebonezi commented on #101
@enragedginger it was my mistake!
Figure out that I´ve other test has a bug that occours in some cenarios...

ALL FIXED AT PR #103

[2021-03-25 13:43] vnt-83 opened #104 "How I can show list shedulers?"
How I can show list shedulers with names, descriptions and cron-expressions (in string format)?

[2021-04-01 18:47] amdelamar opened #105 "Cancel/Delete all job schedules"
Can we get a function added to cancel/remove all job schedules? There are a few functions I see that don't quite do this yet:
- `deleteJobSchedule(name: String)` -> Requires knowning the schedule name.
- `suspendAll()` -> Pauses but doesn't remove job schedules.
- `shutdown(waitForJobsToComplete: Boolean = false)` -> Looks like what I want but comment says "The scheduler cannot be re-started." so

[2021-04-01 18:47] amdelamar commented on #105
I'd be happy to make a PR, if that helps.

[2021-04-06 23:42] enragedginger commented on #105
@amdelamar Feel free to create a PR with some tests and I'll take a look at it!

[2021-04-17 20:00] venkateshzifo opened #106 "Call Utility classes injected with Config and WSClient from Actor class"
Not able to call a utility class from Actor class. Throwing null  when i try to use the objects

SchedulerActor -> TestUtils(WSClient, Config classes injected using dependency injection)

[2021-05-14 08:11] felipebonezi commented on #106
@venkateshzifo did you inject your actor using `bindActor(...)` method from `AkkaGuice` dependency?

**Ref # Scala:**
https://www.playframework.com/documentation/2.8.x/ScalaAkka#Dependency-injecting-actors

**Ref #Java:**
https://www.playframework.com/documentation/2.8.x/JavaAkka#Dependency-injecting-actors

[2021-05-14 08:12] felipebonezi commented on #105
It will, waiting for it. 😁

[2021-05-14 08:14] felipebonezi commented on #95
@enragedginger I think it would be great to upgrade SBT version to 1.5.X (or at least 1.4.X).

Do you see any problem?

[2021-05-14 08:23] felipebonezi commented on #93
@pawelkaczor I saw that you've commited your suggestion about one year ago.

Dis you finished? I think it would be relevant for the community.

[2021-05-14 08:28] felipebonezi commented on #85
Is this make any sense yet?

BTW, both are valid. You need to answer is how do you to maintain it... With a Document database or an structured in memory database. I would prefer using Redis...

If you think that dont need answer anymore, lets close this issue @enragedginger

[2021-05-14 08:33] felipebonezi commented on #87
@obaidsalikeen did you implement your own logic or uses any other Job Store?

BTW, issue #85 can help with some infos like a [Redis Job Store](https://github.com/RedisLabs/redis-quartz).

[2021-05-14 12:10] nlhkh opened #108 "Typed scheduler: Why do we need to pass in a typed system to construct a scheduler"
To construct a typed scheduler, we do this
[code]

Then, when we make schedules, we pass in the actor refs with the same message type again
[code]

`myActorRef` does not have to be the same actor system, as long as it uses the same message. I feel like the `typedSystem` argument is redundant, because at most it is only used to infer the message type. In that case, passing in a type is good enough.

[2021-05-17 15:46] enragedginger commented on #95
I'm not opposed to upgrading the SBT version. Feel free to open a PR

[2021-05-17 15:49] enragedginger commented on #85
Closing for now. Feel free to re-open if you'd like to submit some kind of feature PR

[2021-05-17 15:49] #85 closed

[2021-05-17 15:49] enragedginger commented on #87
Closing for now. Feel free to re-open

[2021-05-17 15:49] #87 closed

[2021-05-17 15:55] enragedginger commented on #108
Hi @nlhkh feel free to open a PR with a proposed fix and I'll take a look at it

[2021-06-01 23:20] amdelamar commented on #105
I got the 'Ok' from my workplace, so I put up a PR.
I decided it should be `deleteAll()` since `cancelAll()` is akin to `suspendAll()` and that's implemented already.

[2021-06-12 07:13] pawelkaczor commented on #93
felipebonezi Please see discussion: https://github.com/enragedginger/akka-quartz-scheduler/pull/94

[2021-06-15 10:56] #95 closed

[2021-06-15 11:18] enragedginger commented on #93
@felipebonezi Per my review on #94 I still don't think we should merge this (#110) in. As @pawelkaczor mentioned in the PR, merging this PR results in the addition of a number of new dependencies. This will result in unnecessary bloat for our users and potential headaches if they require different versions of these dependencies. Joda and commons-lang are very common, so I'd be surprised if no one

[2021-06-15 11:37] pawelkaczor commented on #93
@enragedginger Publishing events seems as a good idea, but IMO is quite a different story.

Here we are dealing with a concrete and simple issue - the log message:
[code]
And I'm offering a solution that solves this problem very well (from a "user" perspective). But of course your concerns regarding incorporation of new dependencies are valid! That's why I suggested to create a new module.

Anyway

[2021-06-16 20:12] mtcronin99 opened #112 "Combining calendars"
Is there a way to chain/combine different calendar types into a single calendar?    An Annual calendar by itself isn't very useful.  Combined with Holiday, Weekly and other types, it makes sense.

[2021-06-16 20:38] enragedginger commented on #112
Hi @mtcronin99, I'm not sure that I follow. Can you explain your use case in more detail? What have you tried doing so far?

[2021-06-21 13:53] mtcronin99 commented on #112
I haven't tried any thing.  I will do that today.   I'm trying to reconcile a couple of statements in the README.

and

and finally that fact that none of the calendars configured in the configuration file have a way to specify the `base` calendar.

[2021-11-07 03:20] #105 closed

[2022-05-11 08:51] AndreasKillaitis0000 opened #113 "Support for Scala 3"
Scala 3 can be considered mature now and many project in the Akka universe (including Akka itself) are already providing builds for Scala 3. Would be great to have S3 builds for akka-quartz-scheduler as well.

[2022-05-11 16:53] enragedginger commented on #113
Sure. Feel free to submit a PR for this!

[2022-07-05 10:28] AndreasKillaitis0000 commented on #113
I created PR https://github.com/enragedginger/akka-quartz-scheduler/pull/114 to address this issue

[2022-07-11 15:35] AndreasKillaitis0000 commented on #113
The related PR has been merged, so no more need for this issue.

[2022-10-14 08:48] fjtorres opened #116 "Disable schedulers with property"
Hello,

I want to know if this extension have some type of property to disable all schedulers. We have an API as a monolith with a few schedulers inside to run background tasks but we want to have the possibility to scale our API without limitations. We don't want to execute schedulers in all instances because will duplicate notifications to our users or other unexpected behaviours. So a way to ac